		<footer class="footer">
				<!-- This should be `0 items left` by default -->
				<span class="todo-count"><strong>{{itemLeft}}</strong> item left</span>
				<!-- Remove this if you don't implement routing -->
				<ul class="filters">
					<li style="cursor: pointer" *ngFor="let filter of validFilters" (click)="changeFilter(filter)">
						<a  [ngClass]="{'selected': filter === activeFilter}"  >{{filter}}</a>
					</li>
					 
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<button class="clear-completed" (click)="clearCompleted() ">Clear completed</button>
			</footer>